@import 'tailwindcss';

@theme {
  --color-gank-050: #f5edf7;
  --color-gank-100: #f9e2ff;
  --color-gank-200: #c98bd9;
  --color-gank-300: #af5ec4;
  --color-gank-400: #9738b0;
  --color-gank-500: #81199c;
  --color-gank-600__main: #6c0088;
  --color-gank-700: #4b025e;
  --color-gank-800: #2b0236;
  --color-gank-900: #130117;
  --color-gank-950: #0c000f;
  --color-gank-grayish-100: #8f7c94;

  --color-gank-p: #BBB3BC;

  --color-gank-green: #00E043;
  --color-gank-redness: #F5006E;
}

.title-h1 {
  @apply text-4xl lg:text-8xl mix-blend-luminosity bg-linear-to-br from-white to-gank-grayish-100/50 bg-clip-text text-transparent;
  line-height: 1.22;
}

.title-h2{
  @apply text-3xl lg:text-6xl mix-blend-luminosity bg-linear-to-br from-white to-gank-grayish-100/50 bg-clip-text text-transparent;
  line-height: 1.22;
}

.text-emphasys {
  @apply mix-blend-luminosity bg-linear-to-br from-white to-gank-grayish-100/50 bg-clip-text text-transparent;
  font-family: serif !important;
  font-style: italic;
}
